/* 
CSS EN FICHERO APARTE (RECOMENDADO)

ESPECIFICIDAD 

etiqueta: 1
clase: 10
id: 100

*/

* {
    /* 
      Todos y cada uno de los elementos
  */  
      margin: 0;
      padding: 0;
}

html, 
body {
/* 
Cuando dos elementos distintos comparten el mismo estilo
*/
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
    /* color: #000000; #FFFFFF  -> muy usado #000 es negro, #FFF es blanco
    color: rgb(0, 0, 0); -> muy usado rgb(0,0,0) es negro, rgb(255,255,255) es blanco
    color: hsl(0, 0%, 0%); -> poco usado
    */
    color: rgba(0, 0, 0, 0.75); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#square-id {
    background-color: rgba(0, 128, 0, 0.50);
    opacity: 0.5; 
}

div {
    background-color: red; 
    
}

div {
    height: 100px; 
    width: 100px; 
    background-color: blue; 
    margin: 10px;
}

h1 {
    color: brown;
}

p {
    margin: 10px;
}

.square {
    background-color: aqua; 
}

.special-text {
    font-weight: bold;
}

.remove-style {
    list-style: none;
}